{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="tag-filter-container">
  <button id="toggle-tags" class="tag-toggle">Filter by tag ▾</button>
  <div id="tag-filter" class="tag-filter collapsed">
    {{ $tags := .Site.Taxonomies.tags }}
    {{ range $tag, $pages := $tags }}
      <a href="{{ (printf "tags/%s/" ($tag | urlize)) | relURL }}" class="tag">{{ $tag }}</a>

    {{ end }}
  </div>
</div>

<p>{{ .Content }}</p>

<ul>
{{ range .Pages }}
  <li>
    <h2>
    <!-- href="{{ .RelPermalink }}" nach dem a , wenn link da sein soll -->
   <a>{{ .Title }}</a> 
  <span class="pub-year">({{ .Params.degree }})</span>
</h2>
    <p><em>{{ delimit .Params.authors ", " }}</em></p>
    <p>{{ .Params.abstract }}</p>
    {{ with .Params.tags }}
      <p>
        {{ range $index, $tag := . }}
          <a class="tag" href="{{ (printf "tags/%s/" ($tag | urlize)) | relURL }}">
  {{ $tag }}
    </a>
        {{ end }}
      </p>
    {{ end }}
  </li>
{{ end }}
</ul>
{{ end }}
